@font-face {
    font-family: 'Art of Living Script';
    font-weight: 500;
    src: url('fonts/artofliving_script_regular.woff2') format('woff2');
    font-display: swap;
}

body {
    max-width: 65ch;
    margin: 0 auto;
    padding: 1rem;
    font-family: system-ui;
    line-height: 1.4;
}

hgroup {
    margin-block-end: 3rem;
}

h1 {
    margin-block: 1rem -0.5rem;
    font-family: 'Art of Living Script', Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-weight: 500;
    font-size: 3.5rem;
    /* size-adjust: 50%; */
    line-height: 0.8;
    color: mediumvioletred;
}

blockquote {
    border-left: 2px solid mediumvioletred;
    margin-inline: 0;
    padding-inline-start: 1rem;
}

dt, dd {
    display: inline;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}
dd::before {
    content: "= ";
}
dd::after {
    content: "\A";
    white-space: pre;
}

.shloka + .shloka {
    margin-block-start: 3rem;
}

.shloka {
}

.sanskrit {
    /* font-weight: bold; */
}

.trans {
    font-style: italic;
}
